<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<mvc:annotation-driven />
	<mvc:resources location="/WEB-INF/static/" mapping="/static/**" />

	<!-- 0325 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/login"/>
			<mvc:exclude-mapping path="/main"/>
			<mvc:exclude-mapping path="/join"/>
			<mvc:exclude-mapping path="/wehave"/>
			<mvc:exclude-mapping path="/static/**"/>
			<mvc:exclude-mapping path="/api/duplicate/**" />
			<bean id ="sessionInterceptor" class ="com.bar.interceptors.SessionInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<!-- 스프링 유효성검사   -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />
	
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- context 파일 분리하기  -->
	<import resource ="controllerContext.xml"/>
	
</beans>
