a {
  color: #333;
}
a:hover {
  color: black;
  font-weight:bold;
}

/* Back to top button */
.back-to-top {
  background: #FE7A66;
  color: #fff;
}

.back-to-top:focus {
  background: #00c1c1;
  color: #fff;
}

.back-to-top:hover {
  background: #858585;
  color: #fff;
}

.navbar-default {
  background: #FE7A66;
}

.form-control:focus {
  border-color: #00c1c1;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #00c1c1;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #00c1c1;
}

.service .carousel-indicators .active {
  background: #FE7A66;
}

.btn-theme {
  background: #FE7A66;
}

.contact-widget i {
  color: #FE7A66;
}
